/* Animasi fadeIn */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animasi slideIn dari bawah */
@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animasi teks */
.animated-text {
  animation: fadeIn 1s ease-in-out;
}

/* Animasi tombol */
.animated-btn {
  animation: slideIn 1s ease-in-out;
}
